@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj!</h1>
    <p>Ta strona przedstawia podstawowe informacje o moich ulubionych bohaterach z LoL'a!</p>
    <p>Wybierz zakładkę "Bohaterowie" aby wyświetlić!</p>
    </div>
